* {
    margin: 0;
    padding: 0;
    }


.top{
    padding-left: 120px;
    height: 1024px;
    background-image: url(hw1img/pro20771.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    &__menu{
    height: 556px;
    background-image: url(hw1img/game.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;}    
    }

.title{
    padding-top: 217px;
    width: 789px;
    
        &__content{
        color: #ffffff;
        font-family: Montserrat;
        font-size: 68px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;}

    &__button{
        background: #9C0332;
        box-sizing: border-box;
        border-radius: 30px;
        width: 235px;
        height: 49px;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        color: #ffffff;
    }
}
       
       
.title2 {
margin-top: 33px;
width: 481px;
padding-bottom: 45px;

        &__content{
            font-family: Montserrat;
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: left;}

        &__link1{
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: left;
            color: #ffffff;
        }

        &__link2{
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: left;
            color: #ffffff;

        }

}

.menu{
    &__game{
        padding-top: 128px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 32px;
    }
   &__game1{
    width: 378px;
    height: 300px;
    border-radius: 18px;
    }
    &__link{
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0px;
        color: #ffffff;
        text-decoration: none;
    }
    &__position{
    position: absolute;
    top: 235px;
    left: 32px;
    }
}

div#Up {
position: relative;
}

